/* Changing all occurrences of body to have properties below */
body {
    background-color: rgb(106, 13, 156);
    color: rgb(255, 255, 255);
}

/* Changing all occurrences of class my_image to have properties below */
.my_image {
    height: 80%;
    width: 175;
}

/* Changing all occurrences of class post to have properties below */
img.post {
    width: 120px;
}

/* Changing all occurrences of class title to have properties below */
.title{
    height: 5%;
    text-align: center;
    color: rgb(240, 241, 129);
}

/* Changing all occurrences of class header to have properties below */
.header{
    display: flex;
    background-color: rgb(164, 87, 230);
    color: rgb(240, 241, 129);
    height: 17%;
    align-items: center;
}

/* Changing all occurrences of class contents to have properties below */
.contents{
    display: flex;
    justify-content: space-around;
    height: 78%
}

.the-line{
    width: 100%;
}

/* Changing all occurrences of class chat to have properties below */
.chat{
    width: 70%;
    background-color: rgb(106, 13, 156);
    padding: 20px;
}

/* Changing all occurrences of chat-messages to have properties below */
#chat-messages{
    height: 90%;
    overflow: scroll;
}

/* Changing all occurrences of class chat-form to have properties below */
.chat-form{
    height: 30px;
}

/* Changing all occurrences of class user-list to have properties below */
.user-list{
    width: 100%;
    background-color: rgb(106, 13, 156);
    /* margin-left:  125px; */
}

/* Changing all occurrences of class header to have properties below */
.header > div{
    padding: 20px;
}

/* Creating a class to display blank vertical space */
.vertical_space{
    margin-bottom:  100px;
}

/* Creating a class to display the user's username */
.display_username{
    color: rgb(240, 241, 129);
}

/* Creating a class to display the all chat messages */
.new_chat_message{
    /* flex: 200px; */
    display: inline;
    /*flex-flow: row wrap;*/
}