<!-- Creating head -->
<html>
<head>
    <!-- Setting the page title, linking a favicon and style sheet -->
    <title>CSE312 Group Project</title>
    <link rel="icon" type="image/x-icon" href="static/img/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
</head>

<!-- Calling welcome function from JS file -->
<body onload="welcome();">

<!-- Title section, displaying the H2 text -->
<div class="title">
    <h2>CSE312 Group Project - code_demons - The best chat system ever!!!</h2>
</div>

<!-- Header section, displaying the picture and welcome text on the home screen -->
<div class="header">
    <div>
        <img src="static/img/clip_art.png" alt="image" class="my_image"/></div>
    <div>
        <p id="paragraph">
            This will be replaced by JavaScript
        </p>
    </div>
</div>

<!-- Chat section -->
<div class="contents">
    <div class="chat">
        <div id="chat-messages">
        </div>
        <div class="chat-form">
            <hr>
            <label>
                Chat:
                <input id="chat-text-box" type="text">
            </label>
            <button id="chat-button" onclick="sendChat()">Send</button>
        </div>
    </div>

    <div class="user-list">
        <!-- Displaying username -->
        <p class="display_username">You are currently logged in as: Guest</p>
        <!-- Displaying vertical space -->
        <p class="vertical_space"></p>
        <!-- Registration form -->
        Register:
        <form action="/register" method="post" enctype="application/x-www-form-urlencoded">
            <label>Username:
                <input id="reg-form-username" type="text" name="username_reg"/>
            </label>
            <br/>
            <label>Password:&nbsp;
                <input id="reg-form-pass" type="password" name="password_reg">
            </label>
            <input type="submit" value="Submit">
        </form>

        <!-- Displaying vertical space -->
        <p class="vertical_space"></p>
        <!-- Login form -->
        Login:
        <form action="/login" method="post" enctype="application/x-www-form-urlencoded">
            <label>Username:
                <input id="login-form-username" type="text" name="username_login"/>
            </label>
            <br/>
            <label>Password:&nbsp;
                <input id="login-form-pass" type="password" name="password_login">
            </label>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>

<!-- Linking JS file -->
<script src="static/js/functions.js"></script>
</body>
</html>